@use 'global' as *; /*Estao indicando que vamos a usar todo lo que exista en _global*/

.blog{
    background-color: $light-green;
}

.title{
    %base-title{
        width: 100%;
    }
}

.parrafo{
    @extend %base-title;
    height: 100px;
}