body{
    background-color: #fffbf7;
    color: #46484c;
    font-family: 'Cairo', sans-serif;
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

header > * { /* El simbolo > indica que estamos anidando caracterisitcas a los elementos internos */
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%; /*Ocupar todo el alto del padre*/
    line-height: 45px; /*Espacio entre lineas */
}

li{
    display: inline;
}
.logo > img {
    width: 15%;
   
  }
  
  .navbar {
    width: 50%;
    
  }

  .navbar > ul > li > a{
    text-decoration: none;
    text-align: center;
    font-weight: 500; /*Permite dar anchura en las letras*/
    color: purple;

  }

  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }

  .actions > a{
    text-decoration: none;
    color: #82CD47;
  }

  .actions > button{
    background-color: #82CD47;
    color: white;
    padding: 15px;
  }

main{
    margin-top: 140px;
    text-align: center;
    text-align: center;
}

section > *{
    display:inline-block;
    margin-right: 20px;
    vertical-align: top;
}

section > h2{
    color: green;
}

/*********************************************************************************************
                                  Publish Section
*********************************************************************************************/
 .publish_section_container{
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
 }


.publish_section_container > video{
  height: 300px;
  width: 50%;
}

.publish_section_container > article{
  height: 300px;
  width: 50%;
}


/*********************************************************************************************
                                  Growing Section
*********************************************************************************************/
.growing_container_section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#82CD47;
  max-width: 100%;
  height: 600px;
}

.growing_section_left{
  margin-right: 5%;
  width: 40%;
}
.growing_section_left > h2{
font-size:xx-large;
}
.growing_section_left > button{
  background-color: green;
  color: white;
  padding: 15px;
}

/*********************************************************************************************
                                  Features Section
*********************************************************************************************/

.features_section_container{
  background-color: red;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /*Indicamos el numero de columanas y su ancho para todas*/
  grid-template-rows: repeat(2, 330px);
   /*grid-template: repeat(2, 1fr) / repeat(2, 330px);Esto el lo mismo que el codigo de arriba usando columns y rows, pero en este caso es por medio de atajos*/
  justify-content: center;
  /*grid-gap: 30px;*/
}

.features_section_container > article {
  background-color: green;
  margin: 10px;
  
}

/*********************************************************************************************
                                  How Wors Section
*********************************************************************************************/
.how_works_section_container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70px 50px 100px;
  background-color: #fffbf7;
  grid-row-gap: 10px;
  /*padding: 5% 10%;*/
}
.how_works_section_container > *{
  display: block;
  margin: 0;
}
.how_works_section_container > .tittle{
  background-color: blue;
  color: #025157;
  font-size: 50px;
}

.how_works_section_container > .description{
 background-color: yellow;
  max-width: 50%;

}

.how_works_section_container >button{
  max-width: 12%;
  height: 40px;
  background-color: #025157;
  color: #fff;
  border-radius: 5%;
}


.how_works_section_container > .steps{
  max-width: 500px;
  display: grid;
  grid-template-columns: 100px 50px 50px 50px;
}

