body {

  color: #46484c;
  font-family: 'Cairo', sans-serif;
  font-family: 'DM Serif Display', serif;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
}


/*********************************************************************************************
                                  Header Section
*********************************************************************************************/

header{
  max-width: 100%;
}
header > .navbar{
  width: 100%;
  text-align: center;
  color:#025157;
  font-weight: 500;
}



.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.actions>a {
  text-decoration: none;
  color: #82CD47;
}

.actions>button {
  background-color: #82CD47;
  color: white;
  padding: 15px;
}


/*********************************************************************************************
                                  Main Section
*********************************************************************************************/

main {
  margin-top: 140px;
  text-align: center;
  background-color: #fffbf7;

}

main>h1 {
  font-size: 50px;
}

main>img {
  width: 50%;
  height: 50%;
}

section>* {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

section>h2 {
  color: green;
}

/*********************************************************************************************
                                  Publish Section
*********************************************************************************************/
.publish_section_container {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}


.publish_section_container>video {
  height: 300px;
  width: 50%;
}

.publish_section_container>article {
  height: 300px;
  width: 50%;
}


/*********************************************************************************************
                                  Features Section
*********************************************************************************************/

.features_section_container {
  background-color: #025157;
  padding: 80px 180px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 330px);
  /*Indicamos el numero de columanas y su ancho para todas*/
  /*grid-template: repeat(2, 1fr) / repeat(2, 330px);Esto el lo mismo que el codigo de arriba usando columns y rows, pero en este caso es por medio de atajos*/
  /*grid-gap: 30px;*/
}

.features_section_container>.feature-card {
  background-color: white;
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto;
}

.feature-card>.feature-content {
  height: auto;
  display: block;
  padding: 50px 30px 0 30px;
}

.feature-card>.feature-image {
  text-align: center;
  vertical-align: bottom;
}

.feature-image>img {
  max-width: 90%;
  height: auto;
  padding: 20% 0 0 0;


}



/*********************************************************************************************
                                  Growing Section
*********************************************************************************************/
.growing_container_section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a1d683;
  max-width: 100%;
  height: 600px;
}

.growing_container_section>.growing_section_left {
  margin-right: 5%;
  width: 40%;
}

.growing_section_left>h2 {
  font-size: 50px;
}

.growing_container_section>.growing_section_left>button {
  background-color: #025157;
  color: white;
  padding: 15px;
  border-radius: 14%;
}

.growing_container_section > .carousel-item  {
  background-color: white;
  display: block;
  height: auto;
  width: 100px;
 border: solid 2px red;
}



.carousel-item >img {
  width: 350px;
  height: 250px;
}

.growing_section_right>article {
  padding: 30px;
}

.growing_section_right>article>p {
  font-size: 20px;

}

.growing_section_right>article>button {
  width: 100%;
  height: 40px;
  background-color: #025157;
  color: white;
  border-radius: 5%;
  display: block;
  margin-top: 10px;

}

/*
.success-stories {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.success-stories .overview {
  flex: 2;
  padding-right: 100px;
}

.success-stories .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}

.success-stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.success-stories .overview button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}

.success-stories .overview img {
  width: 500px;
  max-width: 100%;
}
*/


/*********************************************************************************************
                                  How Wors Section
*********************************************************************************************/
.how_works_section_container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 10px;
  background-color: #fffbf7;
}

.how_works_section_container>* {
  text-align: center;
}

.how_works_section_container>.tittle {
  color: #025157;
  font-size: 50px;
  margin-top: 100px;

}

.how_works_section_container>.description {
  padding: 0 30%;
}

.button_how > button{
  width: 160px;
  height: 40px;
  background-color: #025157;
  color: #fff;
  border-radius: 5%;
  padding: 0;
}


.how_works_section_container>.steps {
  display: grid;
  grid-template-columns: repeat(4, 330px);
  grid-template-rows: 600px;
  padding: 30px 0;
  justify-content: center;
  column-gap: 40px;
  border: solid 2px;

}


.description >  a {
  color: #67b54b;
  text-decoration: none;
}


.steps>.card_steps {
  border: solid 1px;
}


.steps_image {
  width: auto;
  height: auto;
  margin-bottom: 30px;
 

}

.steps_image>img {
  max-width: 99%;
  height: 300px;

}
.steps_info{
  width: auto;
  height: 40%;
}

.steps_info>b {
  font-size: 30px;
  color:#025157;
}

.steps_info> .link_steps{
 color: #67b54b;
 text-decoration: none;
}





/*********************************************************************************************
                                  Media Queries Section
*********************************************************************************************/

@media (max-width:575px) {

  /******Header_Section******/
  header{
    width: auto;
  }
  .navbar{
    display: flex;
  }
  
  .navbar,
  .actions {
    display: none;
  }
  /******Main_Section******/
  main {
    width: auto;
    height: auto;
    background-color: pink;
    margin: 10px 0;
  }

  main > h1 {
    text-align: center;
    font-size: 40px;
  }

  main > p {
    font-size: 20px;
  }


  /******Publish_section******/
  .publish_section_container {
    width: auto;
    height: auto;
    display: block;
    margin: 5%;
  }

  .publish_section_container>video {
    height: 50%;
    width: 100%;
    margin: 0;
  }

  .publish_section_container>article {
    width: 100%;
  }

  /************features_section****************/

  .features_section_container {
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: repeat(4, 1fr);
    padding: 5%;
  }

  .features_section_container>.feature-card {
    display: block;
    width: 100%;
    margin: 2% 0;
  }

 /************growing_section****************/

 .growing_container_section{
  display: grid;
  grid-template-rows: repeat(2, auto);
  padding: 3%;
  height: auto;
  gap: 20px 0;
 }

 .growing_container_section > .growing_section_left{
  width: 100%;
  font-size: 15px;
  margin: 0;
 }

 .growing_section_left > h2{
  font-size:20px;
 }

 .growing_container_section>.growing_section_left>button {
  padding: 5px;
 }
 
.growing_container_section > .growing_section_right{
  width: 100%;
}
.growing_section_right > img{
 width: 100%;
 height: 300px;
}

 /************how_works_section****************/
.how_works_section_container{
  background-color: white
  display: grid;
}

.how_works_section_container > .tittle{
  margin-top: 50px;
}

.how_works_section_container > .description{
  font-size: 20px;
  padding: 0;
}

 .button_how > button{
  width: 250px;
  height: auto;
  font-size: 20px;
  padding: 20px;
  border-radius: 10%;
  

}
.how_works_section_container  > .steps {
  display: grid;
  grid-template-columns:  auto;
  grid-template-rows: repeat( 4, auto);
  border: solid 5px blue;
  text-align: left;
}
 .steps > .card_steps{
  display: grid;
  grid-template-columns: repeat(2, auto);
  background-color:yellow;
  border: solid 3px red;

 }

 .card_steps > .steps_image{
  border: solid wheat 4px;
  height: 100%;
 }

 .card_steps > .steps_info{
  border: solid wheat 4px;
  height: 100%;
 }


}




